<ion-header>

  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref ="/" text = "">
      </ion-back-button >
    </ion-buttons>

    <ion-title>
      Editar Matéria
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div style="width:100%;text-align: center;align-content: center;align-self: center;">
    <img src="assets/icon/0002.png" width="45%" height="20%">
  </div>
  <br>
  <br>

  <ion-item>
    <ion-label position="stacked" color = "primary"  >Nome da materia</ion-label>
  <ion-input  >{{nomeMateria}}</ion-input>
  </ion-item>

  <ion-item *ngIf="opc != verificacao">
    <ion-label position="stacked" color = "primary"  >Nome do professor </ion-label>
  <ion-input >{{nomeProfessor}}</ion-input>
  </ion-item>

  <ion-list >
    <ion-item *ngIf="opc == verificacao">
      <ion-label color = "primary">Professor</ion-label>
      <ion-select placeholder="Selecione um professor" name="nomeProfessor" [(ngModel)]= "nomeProfessor" >
        <ion-select-option *ngFor ="let c of professores" (value)="c.nome">{{c.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> 

  <ion-item >
    <ion-label position="floating" color = "primary"  >Turma</ion-label>
    <ion-input name="turma" [(ngModel)]= "turma"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating" color = "primary"  >Curso</ion-label>
    <ion-input name="curso" [(ngModel)]= "curso"></ion-input>
  </ion-item>


 <br> <br>
    <ion-button *ngIf="opc == verificacao" (click)="salvarMateria()" expand="block" fill="solid" >Confirmar</ion-button>
    <br>
    <ion-button  expand="block" fill="outline" (click)="goBack()">Voltar</ion-button>
    
</ion-content>
