<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Faculdade de Candeias </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div style="width:100%;text-align: center;align-content: center;align-self: center;">
    <img src="assets/icon/0002.png" width="45%" height="20%">
    </div>

    <ion-card >
      <ion-card-header>
        <ion-card-subtitle>
          <div style="width:100%;text-align: center;align-content: center;align-self: center;">
            <img src="assets/icon/0005.jpg" width="45%" height="20%">
            </div>
        </ion-card-subtitle>
        <ion-card-title>
         <ion-label color ="primary">Administração</ion-label>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Formar gestores enquanto ser integral, pessoa humana, cidadã e profissional,
         com espírito de liderança e cooperativismo, tornando mais justas as relações 
         no trabalho e na sociedade, sendo este profissional capaz de interpretar os 
         objetivos propostos pela organização e transformá-los em ação organizacional, 
         de desenvolver os funcionários da organização, de forma a integrar competências, 
         lidar com as mudanças sociais, políticas e econômicas da contemporaneidade com o 
         espirito empreendedor e visão ampla no seu meio sócio econômico e político.<br>
        <ion-label href="#" onclick="window.open('http://www.iescfac.edu.br/admin_page.html', '_system', 'location=yes'); return false;" color ="primary">Clique aqui para mais informações</ion-label>
      </ion-card-content>
    </ion-card>

    <!---------------------------------------------------->
  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>
        <div style="width:100%;text-align: center;align-content: center;align-self: center;">
          <img src="assets/icon/0004.jpg" width="45%" height="20%">
          </div>
      </ion-card-subtitle>
      <ion-card-title>
       <ion-label color ="primary">Analise e desenvolvimento de sistemas</ion-label>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      O Curso de Análise e Desenvolvimento de Sistemas capacita e forma profissionais 
      em diversas áreas da Informática, criando, aplicando e desenvolvendo tecnologias 
      em disciplinas voltadas para o atual perfil do mercado.<br>
      <ion-label href="#" onclick="window.open('http://www.iescfac.edu.br/analise_page.html', '_system', 'location=yes'); return false;" color ="primary">Cliue aqui para mais informações</ion-label>          
    </ion-card-content>
  </ion-card>
    <!---------------------------------------------------->
    <ion-card >
      <ion-card-header>
        <ion-card-subtitle>
          <div style="width:100%;text-align: center;align-content: center;align-self: center;">
            <img src="assets/icon/0006.jpg" width="45%" height="20%">
            </div>
        </ion-card-subtitle>
        <ion-card-title>
         <ion-label color ="primary">Enfermagem</ion-label>
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Diante do crescimento da população de Candeias e cidades circunvizinhas e com
         eles seus problemas de saúde, a FAC implanta o curso de Enfermagem com o anseio
          de formar profissionais capacitados para cuidar da população além de educar e 
          gerenciar as inovações da profissão e do mercado de trabalho, participando assim 
          da construção do Conhecimento. A FAC com sua estrutura e corpo docente constrói 
          grandes profissionais que irão valorizar a pessoa humana independente de sua condição
           pois ser enfermeiro é tornar mais confortável a saúde de seu paciente.<br>
        <ion-label href="#" onclick="window.open('http://www.iescfac.edu.br/enfermagem_page.html', '_system', 'location=yes'); return false;" color ="primary">Clique aqui para mais informações</ion-label>          
      </ion-card-content>
    </ion-card>
      <!---------------------------------------------------->
      <ion-card >
        <ion-card-header>
          <ion-card-subtitle>
            <div style="width:100%;text-align: center;align-content: center;align-self: center;">
              <img src="assets/icon/0007.jpg" width="45%" height="20%">
              </div>
          </ion-card-subtitle>
          <ion-card-title>
           <ion-label color ="primary">Pedágogia</ion-label>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          A sociedade contemporânea tem sido assinalada por rápidas modificações de desempenho, 
          que se refletem claramente na área educacional. O curso de Pedagogia na FAC surge com 
          o propósito nos processos educativos, não apenas no campo escolar, mas na sociedade como 
          um todo, pois a formação de educadores extrapola o ambiente formal, abrangendo também 
          esferas mais amplas na educação, assim a formação profissional do pedagogo pode 
          entender-se em múltiplas especializações profissionais.<br>      
          <ion-label href="#" onclick="window.open('http://www.iescfac.edu.br/pedagoria_page.html', '_system', 'location=yes'); return false;" color ="primary">Clique aqui para mais informações</ion-label>          
        </ion-card-content>
      </ion-card>
    
      <!---------------------------------------------------->
      <ion-card >
        <ion-card-header>
          <ion-card-subtitle>
            <div style="width:100%;text-align: center;align-content: center;align-self: center;">
              <img src="assets/icon/0009.jpg" width="45%" height="20%">
              </div>
          </ion-card-subtitle>
          <ion-card-title>
           <ion-label color ="primary">Área do aluno</ion-label>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Trata-se de um portal para que os alunos tenham mais informações em um ambiente virtual para a interação de toda a 
          comunidade escolar. Com isso, é possível que os mesmos (responsáveis, alunos, professores
           e diretores) possam participar do processo educacional para uma gestão democrática.<br>      
          <ion-label href="#" onclick="window.open('http://www.iescfac.edu.br/login.html', '_system', 'location=yes'); return false;" color ="primary">Clique aqui para acessar</ion-label>          
        </ion-card-content>
      </ion-card>
  
      <!---------------------------------------------------->
      <ion-card >
        <ion-card-header>
          <ion-card-subtitle>
            <div style="width:100%;text-align: center;align-content: center;align-self: center;">
              <img src="assets/icon/0012.jpeg" width="45%" height="20%">
              </div>
          </ion-card-subtitle>
          <ion-card-title>
           <ion-label color ="primary">Contato</ion-label>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
        Localização da FAC <a href="https://goo.gl/maps/8JWQMJPmnzAJeTvSA" style="text-decoration:none;" target="_system">clique aqui.</a><br><br>
        Enviar email sobre o vestibular <ion-label (click)="envairEmailVestibular()" color ="primary">clique aqui.</ion-label><br><br>
        Enviar email sobre informações gerais <ion-label (click)="envairEmailSobreAll()" color ="primary">clique aqui.</ion-label><br><br>
        Ligar para a FAC pelo fixo <ion-label (click)="ligarFixo()" color ="primary">clique aqui.</ion-label><br><br>
        Ligar para a FAC pelo celular <ion-label (click)="ligarCelular()" color ="primary">clique aqui.</ion-label><br><br>

        Obs:  Segunda à Sexta 14 horas - 21 horas.<br>
        </ion-card-content>
      </ion-card>




            <!---------------------------------------------------->
            <ion-card >
              <ion-card-header>
                <ion-card-subtitle>
                  <div style="width:100%;text-align: center;align-content: center;align-self: center;">
                    <img src="assets/icon/0010.jpg" width="45%" height="20%">
                    </div>
                </ion-card-subtitle>
                <ion-card-title>
                 <ion-label color ="primary">Siga-nos</ion-label>
                </ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-label color ="primary">
                      <ion-icon slot="start" color="primary" href="#" onclick="window.open('https://www.facebook.com/fac.candeias.14', '_system', 'location=yes'); return false;" name="logo-facebook"></ion-icon>
                      </ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label  style="color: rgb(161, 48, 48)">
                        <ion-icon disabled (click) ="breve()" name="logo-googleplus"></ion-icon>
                      </ion-label>          
                    </ion-col>
                    <ion-col>
                      <ion-label color ="primary">
                        <ion-icon (click) ="breve()" name="logo-twitter"></ion-icon>
                      </ion-label>          
                    </ion-col>
                    <ion-col>
                      <ion-label color ="secondary">
                        <ion-icon href="#" onclick="window.open('https://www.instagram.com/fac.candeias/', '_system', 'location=yes'); return false;" name="logo-instagram"></ion-icon>
                      </ion-label>          
                    </ion-col>
                  </ion-row>
                  </ion-grid>
            
              </ion-card-content>
            </ion-card>
      


</ion-content>
