ion-item{
  ion-label{
      color: #353368;
  }
}

ion-searchbar {
  color : #353368;
  border-radius: 30px;
  }
  
  .searchbar-input {
  color : #353368;
  border-radius: 30px;
  }
  ion-input{
    color: #353368;
  }
  ion-item{
    color: #353368;
    ion-icon {
      color: #353368;
 }
}
ion-icon{
  color: #353368;
}