<ion-header>

  <ion-toolbar color = "primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Sair
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div style="width:100%;text-align: center;align-content: center;align-self: center;">
    <img src="assets/icon/0001.png" width="70%" height="40%">
  </div>
<br>
  <ion-item *ngIf="nome != null" >
    <ion-label color = "primary">Sair da conta</ion-label>
    <ion-button  fill="solid" expand="block" (click)="fazerLogout()" color="primary" >Confirmar</ion-button>
  </ion-item>
<br>
    <ion-item>
      <ion-label color = "primary">Sair do app</ion-label>
      <ion-button  (click)="sairGeral()" fill="solid" expand="block" color="primary" >Confirmar</ion-button>
    </ion-item>


</ion-content>
